/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


body {
    background: #1F2235;
}

.header {
    background: #2B2F4A;
}

.banner {
    border-radius: 10px;
}

.my-container {
    width: 95%;
    margin: 0 auto;
}

.catagories {
    width: 18%;
    background: #2B2F4A;
    border-radius: 5px;
    overflow: hidden;
    height: fit-content;
}

.tabs {
    background: #1F2235;
    margin: 4px 10px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    border-radius: 3px;
    transition: .2s;
}

.tabs a {
    color: #fff;
}

.tabs:hover {
    color: #fff;
    background: #2ecc71;
    border-radius: 3px;
}

.scrolling {
    width: 60%;
}

.winner-list li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.winner-list li {
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.amount {
    color: #2ecc71;
}

.heading {
    background-color: #2ecc71;
    font-size: 24px;
}

.matches {
    background: #2B2F4A;
    border-radius: 30px;
    overflow: hidden;
}

.match {
    background: #1F2235;
    border-radius: 4px;
    color: white;
}

.question {
    color: #2ecc71;
    font-size: 19px;
}

.question:hover {
    color: #2ecc71;
    font-size: 19px;
    text-decoration: none
}

.modal-btn {
    background-color: #2B2F4A;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    transition: .3s;

}

.modal-btn:hover {
    background-color: #2ecc71;
    cursor: pointer;
}